/MVC2Filter/nbproject/private/
/MVC2Filter/build/
/MVC2Filter/dist/
/Struts1Demo/nbproject/private/
/Strut1/nbproject/private/
/Strut1/build/
/Struts2Demo/nbproject/private/
/Struts2Demo/dist/
/Struts2Demo/build/
/ProjectManager/nbproject/private/
/ProjectManager/build/
/ProjectManager/dist/
/FirstSpringWeb/nbproject/private/
/FirstSpringWeb/dist/
/FirstSpringWeb/build/
/build/
/SpringWeb2/nbproject/private/
/SpringWeb2/build/
/SpringWeb2/dist/